/*------------------------Tags------------------------*/

body{
	background-color: #dddddd;
	margin: 0px;
	text-align: center;
	font-size: 1.3em;
}

h1{
	font-size: 5rem;
	margin: 10px auto 0 auto;
	color: #dddddd;
}

h2{
	color: #11999E;
	font-family: 'Kaushan Script', cursive;
	font-size: 3rem;
	font-weight: normal;
}

h3{
	color: #DDDDDD;
	font-family: 'Kaushan Script', cursive;
	font-size: 3rem;
}

a{
	color: #11999E;
}

hr{
	border-color: black;
	border-width: 10px;
	border-style: none;
	border-top-style: dotted;
	width: 10%;
}


/*------------------------Classes------------------------*/

.top-container{
	padding-top: 100px;
	padding-bottom: 200px;
	background-image: url("../images/mountain-0.jpg");
	width: 100%;
	height: 100%;
	background-position: center;
 	background-repeat: no-repeat;
  	background-size: cover;
}

.middle-container{
}

.bottom-container{
	text-align: left;
}

.mountain-image{
	width: 100%;
}

.skill-image{
	width: 100%;
}

.skill-table{
	text-align: left;
}

.footer-link{
}

.copyright{
	text-align: center;
}