body{
	margin: 0px;
}

h1{
	margin: 0px;
	padding: 0px;
}

.top-container{
	height: 200px;
	width: 200px;
	background-color: red;
	position: absolute;
	/*
	right: 100px;
	padding: 5px;
	border: solid 5px;
	position: relative;
	display: inline-block;
	left: 400px;
	*/
}

.middle-container{
	height: 200px;
	width: 200px;
	background-color: blue;
	position: absolute;
	left: 200px;
	top: 200px;
	/*
	left: 220px;
	display: none;
	visibility: hidden;
	padding: 5px;
	border: solid 10px;
	position: relative;
	display: inline-block;
	right: 200px;
	*/
}

.bottom-container{
	height: 200px;
	width: 200px;
	background-color: yellow;
	position: absolute;
	top: 400px;
	left: 400px;
	/*
	left: 450px;
	padding: 5px;
	border: solid 5px;
	position: relative;
	display: inline-block;
	right: 200px;
	*/
}